.next
out
node_modules

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# env
.env
.env.*

# vercel
.vercel

# misc
.DS_Store
*.tsbuildinfo

# test output
playwright-report
coverage

# local
*.local
